@font-face {
  font-family: 'Exposure';
  src: url('../assets/fonts/ExposureTrialVAR.ttf') format("truetype-variations");
  font-weight: -100 100;
}

@font-face {
  font-family: 'Exposure-Italic';
  src: url('../assets/fonts/ExposureTrialVAR-Italic.ttf') format("truetype-variations");
  font-weight: -100 100;
}

@font-face {
  font-family: 'Suisse-Regular';
  src: url('../assets/fonts/SuisseIntl-Regular.otf')
}

@font-face {
	font-family: 'SuisseIntl-Bold';
	src: url('../assets/fonts/SuisseIntl-Bold.otf')
}

/* :root {
	--x: 0;
	--y: 0;
	--opacity: 1;
	--margin: 40vh;
	--fontSize: 150px;
} */



a {
  text-decoration: none;
  /* no underline */
}

.box-img::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* body {
  background-color: rgb(246, 246, 246);
  width: 100vw;
  padding: 0;
  margin: 0;
} */

body {
  background-image: url(../assets/svg/pattern_bianco.svg);
  background-size: 1.5%;
  background-repeat: repeat;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.main-title {
  font-size: 16pt;
  position: absolute;
  top: 50px;
  left: 2vw;
  z-index: 1;
}

.menu {
  background-color: #f8f8f8;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 7vh;
  box-shadow: 0 0 15px 15px #f8f8f8;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sx {
  width: 30vw;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5vw;
  gap: 50px;
}

.dx {
  width: 30vw;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5vw;
  gap: 50px;
}

.logo {
  width: 40vw;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  /* display: inline-block; */
  height: 7vh;
  /* font-size: var(--fontSize); */
  font-size: 2vw;
  font-family: 'Exposure';
  font-variation-settings: "EXPO" 100;
  color: rgb(0, 0, 0);
  padding-top: 1.5vh;
  transition: font-variation-settings .45s;
  /* z-index: 10; */
  /* margin-top: var(--margin); */
  cursor: pointer;
}

.title:hover {
  /* display: inline-block; */
  height: 7vh;
  /* font-size: var(--fontSize); */
  font-size: 2vw;
  font-family: 'Exposure';
  font-variation-settings: "EXPO" -100;
  color: rgb(0, 0, 0);
  padding-top: 1.5vh;
  transition: font-variation-settings .45s;
  /* z-index: 10; */
  /* margin-top: var(--margin); */
  cursor: pointer;
}

.bottoniMenu {
  font-family: 'Suisse-Regular';
  /* font-weight: 400; */
  font-size: 12px;
  width: auto;
  height: auto;
  background: #f8f8f8;
  /* backdrop-filter: blur(5px);
  border-radius: 50px; */
  border: none;
  cursor: pointer;
}

.bottoniMenu:hover {
  font-family: 'Suisse-Regular';
  /* font-weight: 400; */
  font-size: 12px;
  text-decoration: underline;
  width: auto;
  height: auto;
  background: #f8f8f8;
  /* backdrop-filter: blur(5px);
  border-radius: 50px; */
  border: none;
  cursor: pointer;
}

#catalogue {
  font-family: 'SuisseIntl-Bold';
  text-decoration: underline;
}

.zoom {
  position: absolute;
  position: fixed;
  top: 90vh;
  left: 83.5vw;
  width: 12vw;
  height: 5.5vh;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 15px;
  display: none;
  background: #FFFFFF;
  box-shadow: 0 0 10px 10px rgb(255, 255, 255);
}

.bottoniZoom {
  font-family: 'Suisse-Regular';
  font-size: 14px;
  width: 3.5vh;
  height: 3.5vh;
  /* backdrop-filter: blur(5px); */
  /* border-radius: 50px; */
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

.bottoniZoom:hover {
  font-family: 'Suisse-Regular';
  font-size: 14px;
  width: 3.5vh;
  height: 3.5vh;
  /* backdrop-filter: blur(5px); */
  /* border-radius: 50px; */
  border: none;
  cursor: pointer;
  background: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  color: #ffffff;
}

#ZoomReset {
  font-family: 'Suisse-Regular';
  font-size: 12px;
  width: 8vh;
  height: 3.5vh;
  /* backdrop-filter: blur(5px); */
  /* border-radius: 50px; */
  border: none;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0 0 6px 6px rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

#ZoomReset:hover {
  font-family: 'Suisse-Regular';
  font-size: 12px;
  width: 8vh;
  height: 3.5vh;
  /* backdrop-filter: blur(5px); */
  /* border-radius: 50px; */
  border: none;
  cursor: pointer;
  background: #000000;
  box-shadow: 0 0 6px 6px rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  color: #ffffff;
}


.workspace {
  /* background-color: rgb(246, 246, 246); */
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workspace-content {
  /* background-color: rgb(96, 63, 63); */
  margin-top: 11vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 8vh; */
  /* padding-bottom: 10vh; */
}

.boxBias {
  /* background-color: rgb(246, 245, 143); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  cursor: pointer;
  transition: all 1000ms ease;
}


.titoli-big {
  /* background-color: rgb(143, 246, 217); */
  font-family: 'Exposure-italic';
  font-variation-settings: "EXPO" 0;
  font-size: 22pt;
  height: 11vh;
  padding-top: 3.5vh;
  width: 26vw;
  transition: all 1000ms ease;
}

.titoli-bigBold {
  /* background-color: rgb(143, 246, 217); */
  font-family: 'Exposure-italic';
  font-variation-settings: "EXPO" -60;
  font-size: 22pt;
  height: 11vh;
  padding-top: 3.5vh;
  width: 26vw;
  transition: all 1000ms ease;
}

.titoli-big:hover {
  /* background-color: rgb(143, 246, 217); */
  font-family: 'Exposure-italic';
  font-variation-settings: "EXPO" -60;
  font-size: 22pt;
  height: 11vh;
  padding-top: 3.5vh;
  width: 26vw;
}


.titoli-small {
  /* background-color: rgb(143, 246, 217); */
  font-size: 10pt;
  font-family: 'Suisse-Regular';
  width: auto;
  margin-left: 44.7vw;
  display: none;
  padding-top: 6.5vh;
  flex-wrap: wrap;
}

#titoli-small1 {
  margin-left: 44.7vw;
}

#titoli-small2 {
  margin-left: 43.7vw;
}

#titoli-small3 {
  margin-left: 47vw;
}

#titoli-small4 {
  margin-left: 42.7vw;
}

#titoli-small5 {
  margin-left: 43.4vw;
}

#titoli-small6 {
  margin-left: 45vw;
}

#titoli-small7 {
  margin-left: 48vw;
}

#titoli-small8 {
  margin-left: 45.6vw;
}


.grassetto {
  font-size: 10pt;
  font-family: 'Suisse-Regular';
  font-weight: 600;
  font-style: italic;
  display: block;
  flex-wrap: wrap;
}


.box-categorie {
  /* background-color: rgb(246, 245, 143); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  display: none;
  transition: all 1000ms ease;
}


.box-img {
  /* background-color: rgb(137, 234, 229); */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50px;
  width: 80vw;
  cursor: default;
  transition: all 1200ms ease;
}


.prompt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.titoli-categorie {
  font-family: 'Exposure-italic';
  font-variation-settings: "EXPO" -20;
  font-size: 12pt;
  padding-bottom: 5px;
  width: 11vw;
  transition: font-variation-settings .45s;
  transition: all 1000ms ease;
}

/* .titoli-categorie:hover {
	font-variation-settings: "EXPO" -100;
}  */

.numerino {
  /* font-family: 'Exposure';
  font-variation-settings: "EXPO" 100; */
  font-family: 'Suisse-Regular';
  font-size: 12pt;
  padding-bottom: 5px;
  width: 3.5vw;
}

.numerinoGrande {
  font-family: 'Suisse-Regular';
  font-size: 12pt;
  padding-bottom: 5px;
  width: 3.5vw;
  transition: font-variation-settings .45s;
  padding-top: 3.5vh;
}


.prompt:hover {
  background-color: rgb(248, 255, 180);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: auto;
  height: 100%;
}

#cardPrompt {
  font-family: Suisse-Regular;
  font-size: 10pt;
  padding-top: 1vh;
  padding-bottom: 1vh;
  /* margin-top: -10%; */
  width: 100%;
  height: auto;
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-bottom: 5vh;
  height: 100%;
}

#BoxTesto {
  position: absolute;
  transform: translate(+5px, +5px);
  height: auto;
  width: auto;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border-radius: 50px; */
  border: none;
}

#Testo {
  font-size: 12pt;
  color: rgb(255, 255, 255);
}

.righe {
  width: 100%;
  height: 1px;
  background-color: black;
}

.immaginiGif {
  width: 20vw;
  height: auto;
  position: absolute;
}


.gif {
  width: 100%;
  height: 100%;
}


#gif1 {
  margin-left: 35vw;
  margin-top: 12vh;
  display: none
}

#gif2 {
  margin-left: 40vw;
  margin-top: 13vh;
  display: none
}

#gif3 {
  margin-left: 40vw;
  margin-top: 24vh;
  display: none
}

#gif4 {
  margin-left: 45vw;
  margin-top: 35vh;
  display: none
}

#gif5 {
  margin-left: 35vw;
  margin-top: 46vh;
  display: none
}

#gif6 {
  margin-left: 38vw;
  margin-top: 55vh;
  display: none
}

#gif7 {
  margin-left: 33vw;
  margin-top: 58vh;
  display: none
}

#gif8 {
  margin-left: 42vw;
  margin-top: 60vh;
  display: none
}
